---
import { ViewTransitions } from 'astro:transitions';

if (Astro.request.method === 'POST') {
  const text = await Astro.request.text();
  console.log({ text });
}
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
		<ViewTransitions />
	</head>
	<body>
		<form method="post">
		  <input name="field">
		  <button type="submit">Submit</button>
		</form>
	</body>
</html>
